footer {
  background-color: black;
  color: #ffffff;
  padding: 20px;
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  font-size: 21px;
  margin: 0px 5em;
}

.footer_section h3 {
  grid-column: span 2;
  text-align: left;
}

.footer_section_sections_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.71em;
}

.footer_section_sections_links ul li {
  margin: 5px 0;
  text-align: left;
}

.footer_section_sections_links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_section_sections_links a,
p {
  color: rgb(162, 162, 162);
  text-decoration: none;
}
.footer_section_sections_links a:hover {
  text-decoration: underline;
}

#manage_preferences {
  text-align: center;
}

.footer_section_manage {
  padding: 50px 10px 100px;
}

.footer_section_rights {
  padding: 10px;
  width: 80%;
  margin: 0 5em;
}

footer hr {
  margin: 0px 5em;
}

.footer_title {
  text-align: center;
}

#footer_section_more_2{
  display: none;
}

@media (max-width: 360px) {
  footer {
    padding: 10px;
  }

  .footer_section {
    grid-template-columns: 1fr;
    margin: 0 1em;
    gap: 10px;
    font-size: 18px;
  }

  .footer_section h3 {
    grid-column: span 1;
    text-align: center;
    font-size: 20px;
  }

  .footer_section_sections_links {
    align-items: center;
  }

  .footer_section_sections_links ul li {
    text-align: center;
  }

  .footer_section_manage {
    padding: 20px 10px;
  }

  .footer_section_rights {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  footer hr {
    margin: 10px 1em;
  }

  .footer_title {
    font-size: 18px;
  }

  #footer_section_more{
    display: none;
  }

  #footer_section_more_2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
